@import './base.scss';


.page-one {
  .bg {
    position: relative;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 100vh;

    &>div:first-child {
      height: 100%;
      display: block !important;
      width: 100% !important;
      // max-width: -webkit-calc(1148px + 30px);
      // max-width: -moz-calc(1148px + 30px);
      // max-width: calc(1148px + 30px) !important;
      padding: 0 15px;
      margin: auto !important;

      img {
        object-fit: cover;
      }
    }

    .home-title-panel {
      position: absolute;
      text-align: center;
      padding: 0 15px;
      // position: sticky;
      // position: -webkit-sticky;
      top: 50%;
      left: 50%;
      width: 80%;
      transform: translate(-50%, -80%);

      .head-text {
        margin-top: 25px;
        font-size: 21px;
        font-weight: 400;
        color: #ffffff;
        line-height: 23px;
        letter-spacing: 9px;
      }
    }

    @media screen and (max-width: 675px) {
      .home-title-panel {
        top: 133px;
        transform: translate(-50%, 0);

        .title-img {
          width: 149px;
        }

        .head-text {
          font-size: 12px;
          line-height: 12px;
          letter-spacing: 1px;
        }
      }
    }
  }

  .container {
    // min-height: 110vh;
    // padding: 0;
    // z-index: 1;
    // background-image: url(../src/assets/images/page_one_bg.png);
    // background-size: cover;
    // background-position: center;
  }

  .home-btn {
    @extend .btn;
    position: absolute;
    // position: sticky;
    // position: -webkit-sticky;
    font-size: 17px;
    width: 140px;
    height: 43px;
    border: 1px solid $text1;
    font-weight: 400;
    color: $text1;
    line-height: 17px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 66px;
    transition: all 0.5s;

    &:hover {
      background-color: $text1;
      color: #000;
    }
  }
}

.index-h2 {
  display: block;
  font-size: 29px;
  font-weight: 500;
  color: $text1;
  line-height: 34px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 24px;
    background-color: $text1;
  }
}

.index-text {
  font-size: 16px;

  font-weight: 300;
  color: #a8a8a8;
  line-height: 26px;
}

.index-h3 {
  display: block;
  font-size: 20px;
  font-weight: 300;
  color: $text1;
  line-height: 20px;
}

@media screen and (max-width: 675px) {
  .index-h2 {
    line-height: 25px;
    font-size: 22px;
    margin-bottom: 15px;

    &::after {
      display: none;
    }
  }

  .index-h3 {
    font-size: 16px;
    line-height: 16px;
  }

  .index-text {
    font-size: 14px;
    line-height: 25px;
  }
}

.page-two {
  padding: 100px 0;

  .container {
    @extend .auto_center;

    .img-pannel {
      position: sticky;
      position: -webkit-sticky;
      top: 20%;
      z-index: -1;
      display: flex;
      justify-content: flex-end;
      padding-bottom: var(--height);
    }

    .text-wrapper {
      width: 488px;
      max-width: 100%;
      position: relative;
      z-index: 10;
    }

    .wrapper-left {
      padding-bottom: var(--height);
    }
  }

  @media screen and (max-width: 675px) {
    padding: 40px 0;

    .container {
      padding: 0;

      .img-pannel {
        position: static;
        margin-bottom: 55px;
      }

      .wrapper-left {
        padding-bottom: 0;
      }

      .text-wrapper {
        padding: 0 24px;
      }
    }
  }
}

.page-three {
  padding: 100px 0 0;

  .container {
    @extend .auto_center;
    position: relative;

    .img-pannel {
      position: sticky;
      position: -webkit-sticky;
      top: 20%;
      z-index: -1;
    }

    .wrapper-right {
      display: flex;
      justify-content: flex-end;
      padding-bottom: var(--height);
    }

    .text-wrapper {
      max-width: 488px;
      position: relative;
      z-index: 10;
    }
  }

  @media screen and (max-width: 675px) {
    padding: 40px 0;

    .container {
      padding: 0;

      .img-pannel {
        position: static;
        margin-bottom: 55px;
      }

      .wrapper-right {
        justify-content: flex-start;
        padding-bottom: 0;
      }

      .text-wrapper {
        padding: 0 24px;
      }
    }
  }
}

.page-four {
  .bg {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 100vh;

    &>div {
      height: 100%;
    }
  }

  .container {
    @extend .auto_center;
    position: relative;

    .title-panel {
      position: sticky;
      position: -webkit-sticky;
      top: 100vh;
      transform: translateY(-50vh);
      width: 350px;
      max-width: 40%;
    }

    .wrapper-right {
      display: flex;
      justify-content: flex-end;
      position: relative;
      z-index: 1;
      padding-bottom: 500px;
      transform: translateY(30vh);

      .text-wrapper {
        width: 579px;
        max-width: 50%;

        .text-item {
          margin-bottom: 70px;

          .title-group {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            &>*:first-child {
              width: 30px;
              height: 30px;
              margin-right: 16px !important;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 675px) {
    padding: 30px 0;

    .bg {
      display: none;
    }

    .container {
      padding: 0 24px;

      .title-panel {
        position: static;
        transform: none;
        width: auto;
        max-width: 100%;
      }

      .wrapper-right {
        transform: none;
        padding-bottom: 0;

        .text-wrapper {
          width: auto;
          max-width: 100%;

          .text-item {
            margin-bottom: 32px;

            .title-group {
              > :first-child {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }
    }
  }
}

.page-five {
  .bg {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 100vh;

    &>div {
      height: 100%;
    }
  }

  .container {
    @extend .auto_center;
    position: relative;

    .title-panel {
      position: sticky;
      position: -webkit-sticky;
      top: 100vh;
      transform: translateY(-50vh);
      width: 350px;
      max-width: 40%;
    }

    .wrapper-right {
      display: flex;
      justify-content: flex-end;
      position: relative;
      z-index: 1;
      padding-bottom: 250px;

      .text-wrapper {
        width: 579px;
        max-width: 50%;

        .text-item {
          margin-bottom: 70px;

          .title-group {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            &>*:first-child {
              width: 30px;
              height: 30px;
              margin-right: 16px !important;
            }
          }
        }
      }
    }
  }

  .footer-box {
    margin-top: -100px;
  }

  @media screen and (max-width: 675px) {
    padding: 30px 0;

    .bg {
      display: none;
    }

    .container {
      padding: 0 24px;

      .title-panel {
        position: static;
        transform: none;
        width: auto;
        max-width: 100%;
      }

      .wrapper-right {
        transform: none;
        padding-bottom: 0;

        .text-wrapper {
          width: auto;
          max-width: 100%;

          .text-item {
            margin-bottom: 32px;

            .title-group {
              > :first-child {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }
    }

    .footer-box {
      margin-top: 90px;
    }
  }
}