@import './base.scss';


.tech-h2 {
  display: block;
  font-family: Roboto-Medium, Roboto;
  font-weight: 500;
  color:FFF;
  padding-bottom: 15px;
  margin-bottom: 10px;
  font-size: 37px;
  line-height: 43px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 24px;
    background-color: $text1;
  }
}

.tech-sub-h2 {
  font-size: 25px;
  font-family: Roboto-Regular,
    Roboto;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 35px;
}

.tech-h3 {
  font-size: 22px;
  font-family: Roboto-Regular,
    Roboto;
  font-weight: 400;
  color: #78F8FF;
  line-height: 20px;
  letter-spacing: 1px;
  margin-bottom: 21px;
}

.tech-text {
  font-size: 20px;
  font-family: Roboto-Regular,
    Roboto;
  font-weight: 400;
  color: #A8A8A8;
  line-height: 28px;
}

@media screen and (max-width: 675px) {
  .tech-h2 {
    line-height: 25px;
    font-size: 22px;
    margin-bottom: 15px;

    &::after {
      display: none;
    }
  }

  .tech-sub-h2 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
  }

  .tech-h3 {
    font-size: 16px;
    line-height: 16px;
  }

  .tech-text {
    font-size: 14px;
    line-height: 25px;
  }
}

.tech-warpper {
  min-height: 100vh;
  // z-index: -2;
  position: relative;
  // background-image: url(../src/assets/images/bg1.jpg);
  // background-image: url('../assets/home/bg1.jpg');

  .tech-page-one {
    height: 100vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-image:url();
    // background-image: url(../src/assets/images/4DBanner.jpg);
    

    @media screen and (min-width: 1440px) {
      // background-image: url(../src/assets/images/4D_big_banner.jpg);
    }

    .home-title-panel {
      position: absolute;
      text-align: center;
      padding: 0 15px;
      // position: sticky;
      // position: -webkit-sticky;
      top: 50%;
      left: 50%;
      width: 100%;
      max-width: 627px;
      transform: translate(-50%, -50%);

      .title-text {
        font-size: 49px;
        font-family: Roboto-Medium,
          Roboto;
        font-weight: 500;
        color: $text1;
        line-height: 57px;
      }

      .head-text {
        margin-top: 19px;
        font-size: 25px;
        font-family: Roboto-Regular, Roboto;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 35px;
        letter-spacing: 2px;
      }
    }

    @media screen and (max-width: 675px) {
      .home-title-panel {
        // top: 133px;
        // transform: translate(-50%, 0);
        padding: 0 24px;
        max-width: 100%;

        .title-img {
          width: 149px;
        }

        .title-text {
          font-size: 36px;
          line-height: 40px;
        }

        .head-text {
          font-size: 12px;
          line-height: 12px;
          letter-spacing: 1px;
          margin-top: 25px;
        }
      }
    }
  }

  .tech-page-two,
  .tech-page-four,
  .tech-page-six {
    min-height: 100vh;
    margin-top: 20vh;

    .bg-img {
      position: -webkit-sticky;
      position: sticky;
      top: 20vh;
      // margin-bottom: 20vh;
      // z-index: -1;

      .tech-title-panel {
        position: absolute;
        top: 0;
        transform: translateY(-20px);
        width: 445px;
        max-width: 50%;

        .tech-h2-left {
          transform: translate(62px, 49px);
        }
      }
    }

    .text-panel {
      display: flex;
      justify-content: flex-end;
      position: relative;
      z-index: 2;

      .tech-text-list {
        width: 433px;
        max-width: 50%;
        padding: 20vh 0 85vh;

        >li {
          margin-bottom: 71px;
        }
      }
    }

    @media screen and (max-width: 675px) {
      min-height: auto;
      margin-top: 0;

      .bg-img {
        position: relative;
        top: 0;
        margin: 40px 0 0;

        .tech-title-panel {
          width: 100%;
          transform: translateY(0px);
          max-width: 100%;
          position: relative;
          padding: 20px 24px 0;

          .tech-h2-left {
            transform: translate(0, 0);
          }
        }
      }

      .text-panel {
        padding: 0 24px;

        .tech-text-list {
          width: 100%;
          max-width: 100%;
          padding: 20px 0 40px;

          >li {
            margin-bottom: 32px;
          }
        }
      }
    }
  }

  .tech-page-three {
    padding: 100px 0;

    .container {
      @extend .auto_center;

      .img-pannel {
        position: sticky;
        position: -webkit-sticky;
        top: 20%;
        display: flex;
        justify-content: flex-end;
        padding-bottom: var(--height);
      }

      .text-wrapper {
        width: 488px;
        max-width: 100%;
        position: relative;
        z-index: 10;
      }

      .wrapper-left {
        padding-bottom: var(--height);
      }
    }

    @media screen and (max-width: 675px) {
      padding: 40px 0;

      .container {
        padding: 0;

        .img-pannel {
          position: static;
          margin-bottom: 55px;
        }

        .wrapper-left {
          padding-bottom: 0;
        }

        .text-wrapper {
          padding: 0 24px;
        }
      }
    }
  }

  .tech-page-five {
    min-height: 100vh;

    .title-warp {
      padding-bottom: 100px;
      text-align: center;

      .tech-h2 {
        &:after {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .attacker-box {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(auto-fit, minmax(280px, 0.6fr));
      gap: 111px 80px;

      >li {
        width: 100%;
        color: #FFFFFF;

        .img-box {
          margin-bottom: 28px;

          >div {
            // border-radius: 50%;
            width: 51px;
            height: 51px;
            // border: 1px solid $text1;
          }
        }

        .atta-name {
          margin-bottom: 13px;
          font-size: 22px;
          font-weight: 400;
          color: #FFFFFF;
          line-height: 20px;
          letter-spacing: 1px;
        }

        .atta-desc {
          font-size: 20px;
          font-weight: 400;
          color: #A8A8A8;
          line-height: 28px;
        }
      }
    }

    @media screen and (max-width: 675px) {
      padding: 0 24px;

      .title-warp {
        padding: 30px 0;
      }

      .attacker-box {
        gap: 30px;
        // grid-template-columns: auto;

        >li {
          width: 100%;

          .img-box {
            margin-bottom: 10px;

            >div:first-child {
              width: 36px;
              height: 36px;
            }
          }

          .atta-name {
            margin-bottom: 10px;
            font-size: 18px;
            line-height: 18px;
          }

          .atta-desc {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }

  .tech-page-seven {
    min-height: 100vh;

    .title-warp {
      padding-bottom: 100px;
      text-align: center;

      .tech-h2 {
        &:after {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .box-list {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      gap: 90px 78px;

      li {
        padding: 52px 36px;
        border: 1px solid $text1;
        min-height: 200px;

        .item-title {
          margin-bottom: 20px;
          font-size: 22px;
          font-weight: 400;
          color: #FFFFFF;
          line-height: 20px;
          letter-spacing: 1px;
        }

        .item-desc {
          font-size: 20px;
          font-weight: 400;
          color: #A8A8A8;
          line-height: 28px;
        }
      }
    }

    @media screen and (max-width: 675px) {
      padding: 0 24px;

      .title-warp {
        padding: 30px 0;
      }

      .box-list {
        display: block;

        li {
          margin-bottom: 24px;
          padding: 25px 20px;
          min-height: 100px;

          .item-title {
            margin-bottom: 15px;
            font-size: 18px;
          }

          .item-desc {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }

  }

  .footer-box {
    margin-top: 120px;
  }
}