@import './base.scss';

$topH: 88px;
$top: calc(#{$headerHeight} + #{$topH});


.whitepaper {
  padding-top: $top;
  position: relative;
  height: 100vh;
  background-color: #fff;

  @media screen and (max-width: 920px) {
    padding-top: calc(#{$mobileHeaderHeight} + #{$topH});
  }

  .top-head {
    position: fixed;
    height: $topH;
    top: $headerHeight;
    width: 100%;
    z-index: 1;
    background: linear-gradient(270deg, #FFFFFF 0%, rgba(214, 214, 214, 0.65) 100%);

    @media screen and (max-width: 920px) {
      top: $mobileHeaderHeight;
    }

    .paper-title {
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 20px;
      font-weight: bold;
      color: #000000;
      line-height: 24px;
    }

  }

  .paper-left-box {
    position: relative;

    .paper-left {
      position: absolute;
      width: 360px;
      overflow: auto;
      top: 0;
      left: 0;
      height: calc(100vh - #{$top});
      padding-top: 52px;
      border-right: 1px solid rgba(0, 0, 0, 0.2);

      @media screen and (min-width: 676px) {
        display: block !important;
      }

      @media screen and (max-width: 920px) {
        height: calc(100vh - #{$mobileHeaderHeight} - #{$topH});
      }

      >li {
        font-size: 16px;
        font-weight: 500;
        color: #000000;
        line-height: 19px;

        .child-box {
          display: none;
        }

        .menu-level1,
        .menu-level2,
        .menu-level3 {
          height: 60px;
          padding: 20px 18px;
        }

        .menu-level1 {
          transition: backgound 2s;
          transition-timing-function: ease-in-out;
        }

        .menu-level2 {
          font-size: 17px;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.6);
          line-height: 20px;
          padding-left: 30px;
          height: 50px;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            left: 2px;
            top: 50%;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.6);
          }
        }

        .menu-level3 {
          height: 50px;
          font-size: 14px;
          font-weight: normal;
          color: rgba(0, 0, 0, 0.6);
          line-height: 16px;
          padding-left: 30px;
        }

        a {
          color: inherit;
        }

        &.selected {
          .menu-level1 {
            background: #040B29;
            color: $text1;
          }

          .child-box {
            display: block;
          }
        }
      }
    }
  }

  .content-right,
  .paper-left {
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      background: rgb(239, 239, 239);
      border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background: #bfbfbf;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #333;
    }

    &::-webkit-scrollbar-corner {
      background: #179a16;
    }
  }

  .content-box {
    height: calc(100vh - #{$top});

    @media screen and (max-width: 920px) {
      height: calc(100vh - #{$mobileHeaderHeight} - #{$topH});
    }

    .content-right {
      padding: 78px 50px 78px 432px;
      overflow-y: auto;
      scroll-behavior: smooth;
      margin-right: -15px;
      max-height: 100%;

      // &::-webkit-scrollbar {
      //   display: none;
      // }

      h1 {
        font-size: 44px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.8);
        line-height: 52px;
        margin-bottom: 20px;
      }

      .img {
        >div {
          width: 100%;
        }

        img {
          width: 100%;
        }
      }

      h2 {
        font-size: 34px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.8);
        line-height: 40px;
        margin-bottom: 20px;
      }

      h3 {
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        margin-bottom: 20px;
      }

      h4 {
        font-size: 20px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.8);
        line-height: 24px;
        margin-bottom: 20px;
      }

      p {
        font-size: 14px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.8);
        line-height: 24px;
        margin-bottom: 10px;

        &.list {
          text-indent: 2em;
          position: relative;

          &:before {
            content: '●';
            position: absolute;
            left: -2em;
            top: 0;
          }
        }
      }

      .margin105 {
        margin-bottom: 105px;
      }

      .margin85 {
        margin-bottom: 85px;
      }

      .margin45 {
        margin-bottom: 45px;
      }

      .end-tag {
        margin-top: 200px;
      }
    }
  }

  @media screen and (max-width: 675px) {
    padding-top: calc(#{$mobileHeaderHeight} + 151px);
    height: auto;
    background-color: #eff2f5;

    .top-mobile-head {
      position: fixed;
      top: $mobileHeaderHeight;
      left: 0;
      right: 0;
      z-index: 1;
      background-color: #eff2f5;
      font-size: 36px;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.8);
      line-height: 24px;
      padding: 0 24px;

      >.head-menu {
        padding: 51px 0;
        display: flex;
        cursor: pointer;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

        >span {
          margin-left: 15px;
        }
      }
    }

    .content-box {
      width: 100%;
      margin: 0;
      padding: 24px;
      height: auto;

      .content-right {
        padding: 0;
        overflow: hidden;

        h1 {
          font-size: 28px;
          font-weight: bold;
          color: rgba(0, 0, 0, 0.8);
          line-height: 33px;
          margin-bottom: 20px;
        }

        .img {
          >div {
            width: 100%;
          }

          img {
            width: 100%;
          }
        }

        h2 {
          font-size: 28px;
          font-weight: bold;
          line-height: 33px;
        }

        h3 {
          font-size: 24px;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.8);
          line-height: 28px;
          margin-bottom: 20px;
        }

        h4 {
          font-size: 18px;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.8);
          line-height: 21px;
          margin-bottom: 20px;
        }

        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          margin-bottom: 14x;

          &.list {
            text-indent: 2em;
            position: relative;

            &:before {
              content: '●';
              position: absolute;
              left: -2em;
              top: 0;
            }
          }
        }

        .margin105 {
          margin-bottom: 65px;
        }

        .margin85 {
          margin-bottom: 45px;
        }

        .margin45 {
          margin-bottom: 30px;
        }

        .end-tag {
          margin-top: 100px;
        }

        .mobile_lineheight30 {
          line-height: 30px;
        }

        .mobile_fontsize12 {
          font-size: 12px;
        }
      }
    }

    .paper-left-box {
      z-index: 2;

      .paper-left {
        position: fixed;
        min-height: 50vh;
        max-height: calc(100vh - 200px);
        top: calc(#{$mobileHeaderHeight} + 100px);
        left: 15px;
        width: 226px;
        z-index: 1;
        background: #FFFFFF;
        box-shadow: 0px 6px 14px 0px rgba(13, 22, 29, 0.18);
        padding: 34px 22px;
        border-right: none;

        &::before {
          content: '';
          position: fixed;
          z-index: 2;
          left: 22px;
          top: 156px;
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid #fff;
        }

        >li {
          font-size: 14px;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.5);
          line-height: 16px;

          .menu-level1,
          .menu-level2,
          .menu-level3 {
            height: 50px;
            padding: 20px 0;
          }

          .menu-level1 {
            transition: all 0.5s;
          }

          .menu-level2 {
            font-size: 14px;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.6);
            line-height: 16px;
            padding-left: 25px;

            &::before {
              content: '';
              position: absolute;
              left: 2px;
              top: 50%;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background-color: rgba(0, 0, 0, 0.6);
            }
          }

          .menu-level3 {
            height: 40px;
            font-size: 10px;
            font-family: Roboto-Condensed,
              Roboto;
            font-weight: normal;
            color: rgba(0, 0, 0, 0.6);
            line-height: 11px;
            padding-left: 25px;
          }

          a {
            color: inherit;
          }

          &.selected {
            .menu-level1 {
              background: transparent;
              color: rgba(0, 0, 0, 0.65);
            }

            .child-box {
              display: block;
            }
          }
        }
      }
    }
  }
}